<div id="landing-wrapper">
<div id="base-layer">
			<h1 id="qm-1">?</h1>
			<h1 id="qm-2">?</h1>
			<h1 id="qm-3">?</h1>
			<h1 id="qm-4">?</h1>
			<h1 id="qm-5">?</h1>
		</div>

		<div id="mid-layer">
			<img id="img-1" src="/css/images/img_four.png" alt="bill murray">
			<img id="img-2" src="/css/images/img_one.png" alt="bill murray">
			<img id="img-3" src="/css/images/img_three.png" alt="bill murray">
			<img id="img-4" src="/css/images/img_two.png" alt="bill murray">
		</div>

		<div id="content-layer">
			<article id="art1">
				<header><h2>HEYWANNA?</h2></header>
				<p>HEYWANNA is here to help you fill in the blank. Out of ideas? Tired of the same places? HEYWANNA is here to help you plan your your dates and keep things fresh while letting you focus on the important things. Like what shirt your going to where and how you can make the best impression.</p>
			</article>

			<article id="art2">
				<header><h2>Search for Events Around Seattle</h2></header>
				<p>Seattle is a big town with a lot to offer. HEYWANNA is unique in that beyond restaurants you can look for unique events to make an everlasting impression.</p>
			</article>

			<article id="art3">
				<header><h2>See all your dates</h2></header>
				<p>Have a successful date? Night get a little blurry and you can't remember that last cocktail bar? HEYWANNA lets you save and edit your dates. Recall them for future reference to kick off another great date.</p>
			</article>

			<article id="art4">
				<header><h2>Stay Tuned</h2></header>
				<p>We here at HEYWANNA have you in mind. Keep an eye out for exciting features to be added to the site to increase your experience and help you seal the deal!</p>
			</article>
		</div>
</div>