
<section id="one">
    <div class="inner innerS1">
        <div class="inner outline">
            <h1>Welcome to <strong>Heywanna</strong></h1>
            <p>Plan your best <strong>date ever</strong> with Heywanna</p>
        </div>
        <div class="down-arrow">
            <p>Scroll down to learn how</p>
            <img src="img/arrowDown.svg"
        </div>

    </div>
</section>
<section id="two">
    <div class="innerText innerS2">
        <h2>First things first, sign up and login</h2>

    </div>
</section>
<section id="three">
    <div class="innerText innerS3">
        <h2>Now, create a date!</h2>

    </div>
</section>
<section id="four">
    <div class="innerText innerS4">
        <h2>Awesome, now find some stuff to do!</h2>
    </div>
    <div class="appScreen">
        <p class="screen appImg"></p>
        <p class="screen appImg2"><img src="img/screen1.png" /></p>
        <p class="screen appImg3"><img src="img/screen2.png" /></p>
        <p class="screen appImg4"><img src="img/screen3.png" /></p>
    </div>
</section>
<section id="five">
    <div class="innerText innerS5">
        <h2>Okay, you've added some stuff. Now save that date!</h2>
    </div>
</section>
<section id="six">
    <div class="innerText innerS6">
        <h2>Now, go get em killah!</h2>
    </div>
</section>
<section id="7">
</section>