
<section id="one">
    <div class="inner innerS1">
        <div class="inner outline">
            <h1>Welcome to <strong>Heywanna</strong></h1>
            <p>Plan your best <strong>date ever</strong> with Heywanna</p>
        </div>
        <div class="down-arrow">
            <p>Scroll down to learn how</p>
            <img src="/css/images/arrowDown.svg"
        </div>

    </div>
</section>